/*************************************************
    MAIN VIEW COMPONENTS
**************************************************/

#MainContainer {
    /* background-color: white; */
    height: auto;
    min-height: 80vh;
    width: 80vw;
    border-radius: 10px;
}

.separator {
    margin-top: 1%;
    border-bottom: solid white;
}

a {
    color: white;
}

a:hover {
    color: skyblue
}

input {
    border-radius: 8px;
}

.fas:hover {
    cursor: pointer;
}

/*------------------------------------------------
    AddCard Component
-------------------------------------------------*/

#AddCardContainer {
    padding: 2%;
    color: white;
}

/*------------------------------------------------
    Saved Component
-------------------------------------------------*/

#SavedContainer {
    padding: 2%;  
}

/*------------------------------------------------
    Settings Component
-------------------------------------------------*/

#SettingsContainer {
    padding: 2%;  
}