/*************************************************
    BASE VIEW COMPONENTS
**************************************************/

.BaseContainer {
    background-image: linear-gradient(90deg, #3b5998, #dfe3ee);
    padding-top: 20vh;
    width: 100%;
    height: 100%;
    min-height: 120vh;
}

#NavBar {
    position: fixed;
    top: 0;
    background-color: white;
    height: 8vh;
    width: 100%;
    color: black;
    z-index: 2;
}

.row {
    width: 100%;
    height: auto;
}

.col > h2 {
    padding-left: 1%;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

a {
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
}

input {
    border-radius: 8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fas:hover {
    cursor: pointer;
}

.floatButton {
    position: fixed;
    background-image: linear-gradient(to right, #3b5998, #8b9dc3);
    color: white;
    right: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 4px #999;
    font-size: 30px;
    z-index: 2;
}

.floatButton > .fas {
    font-size: 30px;
}

/*************************************************
    MAIN VIEW COMPONENTS
**************************************************/

#MainContainer {
    height: auto;
    min-height: 80vh;
    width: 80vw;
    border-radius: 10px;
}

.separator {
    margin-top: 1%;
    border-bottom: solid white;
}

#AddCardButton {
    bottom: 230px;
}

#SaveCardsButton {
    bottom: 140px;
}

#topButton {
    bottom: 50px;
}

/*------------------------------------------------
    AddCard Component
-------------------------------------------------*/

#AddCardContainer {
    padding: 2%;
    color: white;
}

.modalInput {
    width: 90%;
    padding: 1%;
}

.card {
    height: 40vh;
    width: 30vw;
    color: black;
    border-radius: 10px;
}

.cardTitle {
    border-bottom: solid red;
    border-width: thin;
    overflow: hidden;
}

.cardButton {
    float: right;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 5%;
}

.cardText {
    text-align: justify;
    color: black;
    overflow: hidden;
}

/*------------------------------------------------
    Saved Component
-------------------------------------------------*/

#SavedContainer {
    padding: 2%;  
}

.CollectionContainer {
    background-image: linear-gradient(90deg, midnightblue, rgb(151, 160, 212));
    width: 70vw;
    margin-bottom: 1%;
    padding: 0;
    color: white;
    border-radius: 10px;
}

.CollectionHead {
    margin: auto;
    padding: 3%;
}

.CollectionBody {
    background-image: linear-gradient(90deg, #8b9dc3, #dfe3ee);
    /* background-color: #8b9dc3; */
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.CollectionButton {
    font-size: 20px;
}

/*------------------------------------------------
    Settings Component
-------------------------------------------------*/

#SettingsContainer {
    padding: 2%;  
}

/*************************************************
    OTHER
**************************************************/

a > h2, a > h4 {
    color: black;
}

a > h2:hover, a > h4:hover {
    color: navy;
}